@font-face {
    font-family: "Satoshi";
    src: url(fonts/Satoshi-Variable.ttf);
}

:root{
    --primary-color: #7562e0;
    --secondary-color: #282162;
    --bg-primary: #181824;
    --bg-primary-2: #1a1a29;
    --bg-primary-3: #31313f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Satoshi";
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: var(--bg-primary-2);
}

#header{
    width: 100%;
    background-color: rgba(18, 18, 24, 0.7);
    padding: 20px;
    position: fixed;
    z-index: 999;
    opacity: 0.95;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.50);
}

#header .container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
}
.logo-content{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-content h1{
    font-family: "Satoshi";
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}

#logo{
    font-size: 1.5rem;
    color: var(--primary-color);
}

#navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}
#navbar ul li a{
    font-weight: 400;
    color: #888;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
}
#navbar ul li a:hover{
    color: var(--primary-color);
    transition: .5s;
}

#navbar ul li a.selected{
    color: var(--primary-color);
}

#presentation{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

#presentation .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding-top: 75px;
}

main{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 70px;
}

section {
    width: 100%;
}

.presentation-content{
    height: 200px;
    padding: 0px 30px;
    flex: 2 1 50%;
}
.presentation-content h1{ /* Nome */
    font-size: 3.5rem;
    color: var(--primary-color);
}
.presentation-content h2{
    font-size: 2rem;
    font-weight: normal;
}
#title-changer{
    font-weight: bold;
}

.presentation-photo{
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.presentation-photo img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
}
.ellipse{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(-135deg, var(--secondary-color), transparent);
    position: absolute; 
    margin-top: 10%;
    margin-left: 10%;
    z-index: -1;
}

.presentation-bts{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    color: var(--primary-color);
    border-radius: 50%;
    border: 2px solid rgba(117, 98, 224, 0.7);
    background-color: transparent;
    transition: .5s;
}
.presentation-bts i{
    width: 45px;
    height: 45px;
    font-size: 32px;
    text-align: center;
    line-height: 45px;
    opacity: 0.7;
    transition: .5s;
}

.presentation-bts i:hover{
    opacity: 1;
    transition: .5s;
    cursor: pointer;
}
.presentation-bts:hover{
    border: 2px solid rgba(117, 98, 224);
    transition: .5s;
}

.presentation-bts:first-child{
    margin-right: 10px;
}

#about{
    background-color: var(--bg-primary)
}

#about .container{
    width: 65%;
    margin: 30px auto;
}

.section-title{
    font-weight: normal;
    font-size: 2em;
    color: var(--primary-color);
}

.about-text{
    font-size: 1.2em;
    text-align: justify;
}

.about-cards{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.about-cards .card{
    width: 275px;
    height: 275px;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-cards .card i{
    font-size: 2.5em;
}

.about-cards .card p{
    font-weight: 500;
    text-align: end;
    font-size: 1.7em;
}